{
    "@attributes": {
        "stat": "ok",
        "version": 1
    },
    "result": {
        "total_results": 6915671,
        "visitor_activity": [
            {
                "id": 94168671,
                "prospect_id": 42586725,
                "type": 1,
                "type_name": "Email Tracker",
                "details": "http://bit.ly/2sp3ZIM?width=600&height=150",
                "email_id": 23423091,
                "email": {
                    "name": "Thank you for enquiring with SACAP",
                    "app_url": "https://pi.pardot.com/tracker/read?id=320569&email_id=23423091"
                },
                "email_template_id": 2543,
                "campaign": {
                    "id": 3395,
                    "name": "Admissions"
                },
                "created_at": "2017-07-24 20:38:30",
                "updated_at": "2017-07-24 20:38:30"
            }
        ]
    }
}
