[
    {
        "id": 36722441,
        "campaign_id": 187,
        "first_name": "example",
        "last_name": "example",
        "email": "example@example.com",
        "phone": 820545590,
        "source": "Internet Search",
        "score": 1727,
        "grade": "C",
        "last_activity_at": "2020-09-16 09:39:33",
        "recent_interaction": "Inactive since: Sep 16, 2020",
        "crm_lead_fid": "[[crm_ignore_prospect]]",
        "crm_owner_fid": "00541000002XfcaAAC",
        "salesforce_fid": "00541000002XfcaAAC",
        "crm_last_sync": "2017-06-29 13:04:50",
        "crm_url": "2017-06-29 13:04:50",
        "is_do_not_email": "2017-06-29 13:04:50",
        "is_reviewed": 1,
        "created_at": "2017-06-29 12:28:17",
        "updated_at": "2020-11-20 04:51:01",
        "assigned_to_id": 10060471,
        "last_activity_id": 2822877334,
        "Document": "No",
        "Campaign_Source": "Term 3, 2020 Campaign",
        "Campus_Website": "Online",
        "Created_Date": null,
        "Enquiry": null,
        "Enquiry_Date": "2020-09-04",
        "Lead_Status": null,
        "Newsletter_sign_up": null,
        "Newsletter_subscriptions": null,
        "page_title": null,
        "Pardot_Source": null,
        "Program_Interest_and_Campaign_Source": null,
        "Campus": "Online Learning",
        "Programme_Interest": null,
        "Registered": true,
        "Student_Personal_Mobile": "0987654321",
        "Validation_Category": null,
        "salutation": 187,
        "Accept_Terms___Conditions": null,
        "Age": null,
        "Date_of_Birth": null,
        "Parent_Guardian_Next_of_Kin_1_Relationship": null,
        "Parent_Guardian_Next_of_Kin_2_Relationship": null,
        "Parent_Guardian_Next_of_Kin_1_Email": null,
        "Parent_Guardian_Next_of_Kin_1_ID_Number": null,
        "Parent_Guardian_Next_of_Kin_1_Mobile": null,
        "Parent_Guardian_1_Name": null,
        "Parent_Guardian_Next_of_Kin_1_Phone": null,
        "Parent_Guardian_Next_of_Kin_2_Mobile": null,
        "Parent_Guardian_Next_of_Kin_2_Phone": null,
        "Physical_Address__City": null,
        "Physical_Address__Postal_Code": null,
        "Physical_Address__Street_Address": null,
        "Physical_Address__Suburb": null,
        "Physical_or_Medical_Conditions_": null,
        "Postal_Address__City": null,
        "Postal_Address__Postal_Code": null,
        "Postal_Address__Street_Address": null,
        "Postal_Address__Suburb": null,
        "Programme_Start_Term": null,
        "Programme_Study_Load": null,
        "RSA_Residential_Status": null,
        "Student_Age": "30-35",
        "Student_Gender": "Female",
        "Student_Home_Language": null,
        "Student_ID_Number": null,
        "Student_Marital_Status": null,
        "Student_Nationality": null,
        "Student_Population_Group": null,
        "Term_Mailer": null,
        "Where_did_you_hear_about_us": null,
        "company": "example@example.com",
        "crm_contact_fid": "[[crm_ignore_prospect]]",
        "opted_out": "2017-06-29 13:04:50",
        "Acceptance_Letter_Sent": "Full acceptance",
        "Application_Fee_Received": null,
        "Application_Received": null,
        "Billing_Payment_Plan": null,
        "Character_Reference_Letter_Received": null,
        "Declaration_Form_Received": null,
        "Employment_Details__City": null,
        "Employment_Details__Duration": null,
        "Employment_Details__Employer": null,
        "Employment_Details__Income_Range": null,
        "Employment_Details__Occupation": null,
        "Employment_Details__Postal_Code": null,
        "Employment_Details__Street_Address": null,
        "Employment_Details__Suburb": null,
        "Highest_Qualification": null,
        "Highest_Qualification_Received": null,
        "ID_Doc_Received": null,
        "Parent_Guardian_Next_of_Kin_1_Surname": null,
        "SAQA_Conversion_Received": null,
        "Student_Number": 303606,
        "Study_Permit_Received": null,
        "prospect_account_id": null,
        "country": "example@example.com",
        "address_one": "example@example.com",
        "city": "example@example.com",
        "state": "example@example.com",
        "zip": "example@example.com",
        "Billing_Person_Contact_Number": null,
        "Billing_Person_Email": null,
        "Billing_Person_Relationship": null,
        "Parent_Guardian_Next_of_Kin_2_Surname": null,
        "Payment_Responsibility": null,
        "Birth_date": null,
        "Parent_Guardian_Next_of_Kin_2_ID_Number": null,
        "Student_Middle_Name": null,
        "Campaign_Type": null,
        "Enquiry_category": null,
        "Social": null,
        "job_title": "example@example.com",
        "Course_Code": null,
        "Programme_Registered": null,
        "High_School___Western_Cape": null,
        "Payment_App_Fee_Online_Status": null,
        "Payment_App_Fee_POP_Status": null,
        "Payment_Reg_Fee_POP_Status": null,
        "School_Province": null,
        "Expo": null,
        "Campaign_Type_Roving": null,
        "Event_date": null,
        "Event_name": null,
        "Gender": "Female",
        "Student_Business_Email": "example@example.com",
        "Student_Business_Phone": null,
        "Day_Night_Student": null,
        "Study_Mode": "Part-time",
        "comments": "Internet Search",
        "College___University": null,
        "Programme_Interest_Verified": null,
        "Open_Day_Status": null,
        "SACAP_Open_Day": null,
        "Payment_Options": "Term",
        "Campus_Online": null,
        "On_Campus_only___JHB_CPT_Campus": null,
        "Staff_Birthday": null,
        "Student_Business_Mobile": null
    }
]
